<div class="text-center">
    <img class="image-topper landing-image" src="https://cdn2.iconfinder.com/data/icons/xbox-one-controllers/500/gamer_Pink_Shadow-512.png" alt="Controller Picture" />
<div>
<div class="page-items center show-page sessions borders">
    <h3>Welcome to The Great Divide!</h3>
    <h4>My name is Josef! I appreciate you visiting my personal video game team building app. This means you can meet people here to play with them in your favorite game of choice! All systems and games are welcome here. If you don't see a game you like, go ahead and add it! Just sign up to begin meeting other gamers.<h4>
    <%= link_to "Get Started", games_path, class: "button new-success join-border" %>
</div>