<h2>Game: <%=@this_post.game_title%></h2>
<h2>Host: <%=@host.username%> </h2>
<h3>Number of players requested: <%=@this_post.requested_number_of_players%> </h3>
<p>Description: <%=@this_post.description%> </p>