<h1 class="center" >Available Games:</h1>
<div class="grid-container ivory">
    <%@games.each do |game|%>
        <div class="callout cell wisteria cell-border"> 
            <h2 class="center" ><%=link_to "#{game.title}", game_game_posts_path(game.id)%></h2>

        </div>
    <%end%>
    <%= link_to "Don't see your game? Add it here!", new_game_path, class: "button success"%>
</div>