<h1 class="center" >New Game</h1>


<%= form_for(@new_game) do |f|%>

<%=f.label :title, class: "form-labels sessions wisteria", value: "Game Title:"%>
<%=f.text_field :title, class: "form-labels text-field"%>

<%=f.submit "Add Game", class: "button new-success"%>
<%end%>


